@import '../variables/_dark';
@import '../variables/_light';

.ant-card {
  background-color: var(--card-background-color);
  height: 800px;
}

.ant-card-head-title {
  color: var(--text-color-regular);
}

.ant-card-head-title {
  color: var(--text-color-primary);
}

.ant-card-body {
  padding: 15px 30px 30px;
}

.ant-card-meta {
  padding-top: 15px;
  padding-bottom: 20px;
}
