@import '../variables/_dark';
@import '../variables/_light';

// 设置菜单主体的高度
.ant-layout-has-sider {
  display: flex;
  height: 100%;
}
// 设置菜单的滚动条
.ant-menu-root {
  height: calc(100vh - 0.6rem);
  overflow: auto;
}
// 设置菜单滚动条样式
.ant-menu-root:hover::-webkit-scrollbar {
  width: 6px;
}

// 只有鼠标悬浮的时候才展示菜单的滚动条样式
.ant-menu-root:hover::-webkit-scrollbar-track {
  width: 6px;
  border-radius: 10px;
  background-color: var(--transparent);
}

.ant-menu-root:hover::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-background-color);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.ant-menu {
  background-color: var(--menu-background-color);
  color: var(--text-color-regular);
}
// 菜单背景色
.ant-layout-sider {
  background-color: var(--menu-background-color);
}

.ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: var(--menu-active-background-color);
}

// 鼠标悬浮菜单的颜色
.ant-menu-item:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected),
.ant-menu-submenu-title:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) {
  color: var(--menu-hover-text-color);
  background-color: var(--menu-hover-background-color);
}

.ant-menu-item-selected,
.ant-menu-submenu-title:active,
.ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: var(--menu-active-background-color) !important;
  color: var(--primary) !important;
}

.ant-menu-root.ant-menu-inline {
  border: none;
}
