@import '../variables/_dark';
@import '../variables/_light';

@import './menu';
@import './card';
@import './vxetable';

* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100vh;
}

body {
  background-color: var(--page-background-color);
  color: var(--text-color-regular);
  font-size: 0.16rem;
}

/** 主体内容的样式 */
.ant-layout-content {
  overflow-y: scroll;
}
/** 主体内容的样式 */

.testcard {
  width: 300px;
  height: 300px;
  background-color: var(--fill-blank);
  margin: 0.1rem;
  box-shadow: var(--box-shadow-lighter);
}

.testcard:hover {
  box-shadow: var(--box-shadow-light);
}

.ant-layout {
  background-color: var(--page-background-color);
}

.ant-layout-content {
  // background-color: var(--page-background-color);
  color: var(--text-color-regular);
}

// 面包屑的样式
.ant-breadcrumb li {
  color: var(--text-color-secondary);
}
.ant-breadcrumb-separator {
  color: var(--text-color-secondary);
}

.ant-breadcrumb li:last-child {
  color: var(--text-color-regular) !important;
}
::-webkit-scrollbar {
  width: 6px;
}

.ant-breadcrumb li:last-child {
  color: var(--text-color-regular) !important;
}

::-webkit-scrollbar-thumb:not(.ant-menu-root) {
  background-color: var(--scrollbar-thumb-background-color);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
