@import '../variables/_dark';
@import '../variables/_light';

@import './menu';
@import './card';
@import './vxetable';
@import './header';

// * {
//   margin: 0;
//   padding: 0;
// }

html,
body {
  margin: 0;
  padding: 0;
  // height: 100vh;
  font-size: 100px;
  overflow: hidden;
}

#app{
  // height: calc(100vh - .6rem);
}

body {
  background-color: var(--page-background-color);
  color: var(--text-color-regular);
  font-size: 0.16rem;
}

/** 主体内容的样式 */
.ant-layout-content {
  overflow-y: auto;
  height: calc(100vh - 1.4rem);
}
// 设置主体内容滚动条样式
.ant-layout-content:hover::-webkit-scrollbar {
  width: 6px;
}

// 只有鼠标悬浮的时候才展示主体内容的滚动条样式
.ant-layout-content:hover::-webkit-scrollbar-track {
  width: 6px;
  border-radius: 10px;
  background-color: var(--transparent);
}

.ant-layout-content:hover::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-background-color);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
/** 主体内容的样式 */

.testcard {
  width: 300px;
  height: 300px;
  background-color: var(--fill-blank);
  margin: 0.1rem;
  box-shadow: var(--box-shadow-lighter);
}

.testcard:hover {
  box-shadow: var(--box-shadow-light);
}

.ant-layout {
  background-color: var(--page-background-color);
}

.ant-layout-content {
  // background-color: var(--page-background-color);
  color: var(--text-color-regular);
}

// 面包屑的样式
.ant-breadcrumb li {
  color: var(--text-color-secondary);
}
.ant-breadcrumb-separator {
  color: var(--text-color-secondary);
}

.ant-breadcrumb li:last-child {
  color: var(--text-color-regular) !important;
}
::-webkit-scrollbar {
  width: 6px;
}

.ant-breadcrumb li:last-child {
  color: var(--text-color-regular) !important;
}

::-webkit-scrollbar-thumb:not(.ant-menu-root) {
  background-color: var(--scrollbar-thumb-background-color);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
