@import './variables/_dark';
@import './variables/_light';

* {
  margin: 0;
  padding: 0;
}

html,body, #app{
  height: 100vh;
}

body {
  background-color: var(--page-background-color);
  color: var(--text-color-regular);
  font-size: .16rem;
}

/** 菜单栏的样式 start */
.ant-layout-has-sider{
  display: flex;
  height: 100%;
}

.ant-layout-sider{
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
}

.ant-layout-sider:hover::-webkit-scrollbar-track {
  width: 6px;
  border-radius: 10px;
}

.ant-layout-sider:hover::-webkit-scrollbar-thumb {
  background-color: #0003;
  border-radius: 10px;
  transition: all .2s ease-in-out;
}

.ant-menu-root.ant-menu-inline{
  border: none;
}
/** 菜单栏的样式 end */

/** 主体内容的样式 */
.ant-layout-content {
  overflow-y: scroll;
}
/** 主体内容的样式 */

.testcard{
  width: 300px;
  height: 300px;
  background-color: var(--fill-blank);
  margin: 0.1rem;
  box-shadow: var(--box-shadow-lighter);
}

.testcard:hover{
  box-shadow: var(--box-shadow-light);
}

.ant-layout-sider {
  background-color: var(--menu-background-color);
}

.ant-menu {
  background-color: var(--menu-background-color);
  color: var(--text-color-regular)
}

.ant-layout {
  background-color: var(--page-background-color);
}

.ant-layout-content{
  background-color: var(--fill-extra-light);
  color: var(--text-color-regular);
}

.ant-menu-item:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected),
.ant-menu-submenu-title:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected){
  color: var(--menu-active-text-color);
  background-color: var(--menu-active-background-color);
}

.ant-menu-item-selected,
.ant-menu-submenu-title:active,
.ant-menu-item:not(.ant-menu-item-selected):active{
  background-color: var(--fill-extra-light);
}
