@import '../variables/_dark';
@import '../variables/_light';

.vxe-table--render-default .vxe-table--body-wrapper table {
  background-color: #3c3c3c;
  color: var(--text-color-regular);
}
.vxe-table--render-default.border--full .vxe-table--fixed-left-wrapper .vxe-body--column {
  border-color: #5e5e5e;
}
.vxe-table--render-default.border--full .vxe-table--header-wrapper {
  background-color: var(--title-background-color);
  color: var(--text-color-primary);
}

.vxe-table--render-wrapper {
  background-color: transparent;
}
.vxe-table--render-default .vxe-table--body-wrapper table {
  background-color: var(--table-background-color);
}

// 设置表格滚动条样式
.vxe-table--render-default::-webkit-scrollbar {
  width: 6px;
}

// 只有鼠标悬浮的时候才展示表格的滚动条样式
.vxe-table--render-default::-webkit-scrollbar-track {
  width: 6px;
  border-radius: 10px;
  background-color: var(--transparent);
}

.vxe-table--render-default::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-background-color);
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
