[data-bs-theme='dark'] {
  // 文本的颜色start
  --text-color-primary: #e5eaf3; // 主文本色
  --text-color-regular: #cfd3dc; // 主文本色
  --text-color-secondary: #a3a6ad; // 次文本色
  --text-color-placeholder: #8d9095; // 占位文本色
  --text-color-disabled: #6c6e72; // 失效文本色
  // 文本的颜色end
  // 边框的颜色start
  --border-color-darker: #636466; // 深色边框
  --border-color-dark: #58585b; // 深色边框
  --border-color: #4c4d4f; // 常规边框
  --border-color-light: #414243; // 浅色边框
  --border-color-lighter: #363637; // 更浅的边框色
  --border-color-extra-light: #2b2b2c; // 最浅的边框色
  // 边框颜色end
  // 填充色start
  --fill-base: #303030; // 常规填充色
  --fill-darker: #424243; // 较暗填充色
  --fill-dark: #39393a; // 深色填充色
  --fill-light: #262727; // 浅色填充色
  --fill-lighter: #1d1d1d; // 更浅的填充色
  --fill-extra-light: #191919; // 最浅的填充色
  --fill-blank: transparent; // 空白填充色
  // 填充色end
  --page-background-color: #141414; // 页面背景色
  --transparent: transparent; // 透明色
  --basic-black: #000000; // 基础黑色
  --basic-white: #ffffff; // 基础白色
  --base-background-color: #ffffff; // 基础背景色
  --overlay-background-color: #ffffff; // 覆盖背景色
  // 菜单背景色 start
  --menu-background-color: var(--basic-black);
  --menu-active-background-color: #ffffff33;
  --menu-active-text-color: #0000000f;
  --menu-hover-background-color: #ffffff33;
  --menu-hover-text-color: #e5eaf3;
  // 菜单背景色 end
  // boxshadow start
  --box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.36), 0px 8px 20px rgba(0, 0, 0, 0.72);
  --box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.72);
  --box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.72);
  --box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.72), 0px 12px 32px #000000,
    0px 8px 16px -8px #000000;
  // boxshadow end
}
