[data-bs-theme='light'] {
  @import './theme/theme';
}

[data-bs-theme='dark'] {
  @import './theme/theme';
}
html,
body {
  margin: 0;
  padding: 0;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2147483646;
}

[data-bs-theme='dark']::view-transition-old(root) {
  z-index: 2147483646;
}

[data-bs-theme='dark']::view-transition-new(root) {
  z-index: 1;
}
