// 主要颜色配置
$primary: #409EFF; // 主色
$success: #67C23A; // 成功色
$warning: #E6A23C; // 警告色
$danger: #F56C6C; // 危险色
$info: #909399; // 信息色
$white: #FFFFFF; // 白色
$black: #000000; // 黑色
// 文本的颜色start
$text-color-primary: #d9d9d9; // 主文本色
$text-color-regular: #606266; // 主文本色
$text-color-secondary: #909399; // 次文本色
$text-color-placeholder: #A8ABB2; // 占位文本色
$text-color-disabled: #C0C4CC; // 失效文本色
// 文本的颜色end
// 边框的颜色start
$border-color-dark: #CDD0D6; // 深色边框
$border-color: #D4D7DE; // 常规边框
$border-color-base: #D4D7DE; // 常规边框
$border-color-light: #E4E7ED; // 浅色边框
$border-color-lighter: #EBEEF5; // 更浅的边框色
$border-color-extra-light: #F2F6FC; // 最浅的边框色
// 边框颜色end
// 填充色start
$fill-base: #F0F2F5; // 常规填充色
$fill-darker: #E6E8EB; // 较暗填充色
$fill-dark: #EBEDF0; // 深色填充色
$fill-light: #F5F7FA; // 浅色填充色
$fill-lighter: #FAFAFA; // 更浅的填充色
$fill-extra-light: #FAFCFF; // 最浅的填充色
$fill-blank: $white; // 空白填充色
// 填充色end
$page-background-color: #171717ef; // 页面背景色
$transparent: transparent; // 透明色
$basic-black: #000000; // 基础黑色
$basic-white: $white; // 基础白色
$base-background-color: $white; // 基础背景色
$overlay-background-color: $white; // 覆盖背景色